{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
        <div class="card mx-auto card-container w-50 p-5">
            <p id="profile-name" class="profile-name-card"></p>
              <form action="/addnewhost/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                        {{ form.full_name|as_crispy_field }}
                    </div>
                  <div class="form-group">
                      {{ form.email|as_crispy_field }}
                  </div>
                  <div class="form-group">
                      {{ form.mobile|as_crispy_field }}
                  </div>
                  <div class="form-group">
                      {{ form.comment|as_crispy_field }}
                  </div>
                  <div class="form-group mx-auto">
                      <button type="submit" class="btn btn-primary">Save Visit</button>
                      <button type="submit" class="btn btn-secondary">Save And Create New One</button>
                      <a href="/logbook" class="btn btn-success">Cancel</a>
                      <input type="hidden" name="next" value="{{next}}">
                  </div>        
              </form>
        </div>
    </div>
    
{% endblock %}