{% extends "account/dashboardlayout.html" %}
{% load crispy_forms_tags %}

{% block content1 %}
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
</style>
<br>
<div class="container">
  <div class="row">
    <h1 class="card-title mx-auto">Add New Host</h1>
  </div>
  <br>
  <div class="row">
    <div class="col">
        <form action="/newlocations/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                    {{ form.loc|as_crispy_field }}
                </div>
              <div class="form-group">
                  {{ form.name|as_crispy_field }}
              </div>
                <div class="form-group mx-auto">
                  <button type="submit" id="savemap"onclick="SaveMap()" class="btn btn-primary">Save Visit</button>
                  <a href="/locations" class="btn btn-success">Cancel</a>
                  <input type="hidden" name="next" value="{{next}}">
              </div>        
          </form>
    </div>
    <div class="col">
        <div id="map"></div>
    </div>
  </div>
</div>
<script>
  var loc,name,lonmap,latmap
    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 23.0225, lng: 72.5714},
            zoom: 13,
            mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        
        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }
          
          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
                
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          
          var savedata = bounds;
          console.log(savedata);
          lonmap = savedata.ma.l
          latmap = savedata.fa.l
          console.log(savedata.ma.l);
          console.log(savedata.fa.l);
          map.fitBounds(bounds);
        });
      }

    // $("#savemap").click(function() {
    //   loc = $("#pac-input").val()
    //   name = $("#name").val()
    // });

    function SaveMap(){
      event.preventDefault();
      loc = $("#pac-input").val()
      name = $("#name").val()
        $.ajax({
            method: 'POST',
            url: '/newlocations/',
            data: {
              'loc' : loc,
              'name' : name,
              'lon': lonmap,
              'lat' : latmap
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader(
                  "X-CSRFToken", 
                  "{{ csrf_token }}"
                  );
                },
            success: function(response){
              console.log("succ");
            },
            error: function(error_data){
                    console.log("error");
                    console.log(error_data);
                }
        }); 
      };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMlG5eOnUMdABa9akVC9eU7UXZ6O9fCP8&libraries=places&callback=initAutocomplete"
         async defer></script>
{% endblock %}

      