{% extends "account/dashboardlayout.html" %}

{% block content1 %}

<h1 class="h2">Visitors Address Book</h1>
</div>

<form class="form-inline">
  <input class="form-control mr-sm-2" placeholder="Search" type="search" name="q" id="query" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<br>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="?q=">ALL</a></li>
    <li class="page-item"><a class="page-link" href="?q=a">A</a></li>
    <li class="page-item"><a class="page-link" href="?q=b">B</a></li>
    <li class="page-item"><a class="page-link" href="?q=c">C</a></li>
    <li class="page-item"><a class="page-link" href="?q=d">D</a></li>
    <li class="page-item"><a class="page-link" href="?q=e">E</a></li>
    <li class="page-item"><a class="page-link" href="?q=f">F</a></li>
    <li class="page-item"><a class="page-link" href="?q=g">G</a></li>
    <li class="page-item"><a class="page-link" href="?q=h">H</a></li>
    <li class="page-item"><a class="page-link" href="?q=i">I</a></li>
    <li class="page-item"><a class="page-link" href="?q=j">J</a></li>
    <li class="page-item"><a class="page-link" href="?q=k">K</a></li>
    <li class="page-item"><a class="page-link" href="?q=l">L</a></li>
    <li class="page-item"><a class="page-link" href="?q=m">M</a></li>
    <li class="page-item"><a class="page-link" href="?q=n">N</a></li>
    <li class="page-item"><a class="page-link" href="?q=o">O</a></li>
    <li class="page-item"><a class="page-link" href="?q=p">P</a></li>
    <li class="page-item"><a class="page-link" href="?q=q">Q</a></li>
    <li class="page-item"><a class="page-link" href="?q=r">R</a></li>
    <li class="page-item"><a class="page-link" href="?q=s">S</a></li>
    <li class="page-item"><a class="page-link" href="?q=t">T</a></li>
    <li class="page-item"><a class="page-link" href="?q=u">U</a></li>
    <li class="page-item"><a class="page-link" href="?q=v">V</a></li>
    <li class="page-item"><a class="page-link" href="?q=w">W</a></li>
    <li class="page-item"><a class="page-link" href="?q=x">X</a></li>
    <li class="page-item"><a class="page-link" href="?q=y">Y</a></li>
    <li class="page-item"><a class="page-link" href="?q=z">Z</a></li>
  </ul>
</nav>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">IMAGE</th>
      <th scope="col">NANE</th>
      <th scope="col">EMAIL</th>
      <th scope="col">COMPANY</th>

    </tr>
  </thead>
  {% for ip in objects_all %}
  <tbody>
    <tr class="clickable">
      <td><img src="/media/{{ ip.profile_pic }}" class="img-thumbnail" alt="Profile Picture" width="50" height="50">
      </td>
      <td><a href="{{ip.id}}" style="color: inherit;">{{ip.full_name}}</a></td>
      <td>{{ip.email}}</td>
      <td>{{ip.company_name}}</td>
    </tr>
  </tbody>
  {% empty %}
</table>
<br>
<div class="container">
  <div class="card mx-auto card-container w-75 p-5">
    <h3 class="card-title">looks like there's no data about what you searched, maybe try some other character ?</h3>
  </div>
</div>
</table>
{% endfor %}
</table>
<script>
  {% block jquery %}

  {% endblock %}
</script>
{% endblock %}