{% extends "account/dashboardlayout.html" %}

{% block content1 %}

<h1 class="h2">Analytics</h1>
<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group mr-2">
    <button class="btn btn-sm btn-outline-secondary">Share</button>
    <button class="btn btn-sm btn-outline-secondary">Export</button>
  </div>
  <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
    <span data-feather="calendar"></span>
    This week
  </button>
  
</div>
</div>

<div class="col-11 mx-auto">
  <div class="row">   
    <div class="jumbotron">
      <div class="row">
      <h5 class="card-title mx-auto">How busy is your reception?</h5>
    </div>
      <div id="tester" style="width:1100px;height:500px;"></div>
    </div>
  </div>
  <div class="row">   
      <div class="jumbotron">
        <div class="row">
        <h5 class="card-title mx-auto">How busy is your reception?</h5>
      </div>
        <div id="myDiv" style="width:1100px;height:500px;"></div>
      </div>
    </div>
    <div class="row">   
        <div class="jumbotron">
          <div class="row">
          <h5 class="card-title mx-auto">How busy is your reception?</h5>
        </div>
          <div id="tester" style="width:1100px;height:500px;"></div>
        </div>
      </div>
      <div class="row">   
          <div class="jumbotron">
            <div class="row">
            <h5 class="card-title mx-auto">How busy is your reception?</h5>
          </div>
            <div id="tester" style="width:1100px;height:500px;"></div>
          </div>
        </div>
</div>

<script>
    {% block jquery %}
    
    var xValue = ['Product A', 'Product B', 'Product C'];

    var yValue = [20, 14, 23];
    var yValue2 = [24, 16, 20];

    var trace1 = {
      x: xValue,
      y: yValue,
      type: 'bar',
      text: yValue,
      textposition: 'auto',
      hoverinfo: 'none',
      opacity: 0.5,
      marker: {
        color: 'rgb(158,202,225)',
        line: {
          color: 'rbg(8,48,107)',
          width: 1.5
        }
      }
    };

    var trace2 = {
      x: xValue,
      y: yValue2,
      type: 'bar',
      text: yValue2,
      textposition: 'auto',
      hoverinfo: 'none',
      marker: {
        color: 'rgba(58,200,225,.5)',
        line: {
          color: 'rbg(8,48,107)',
          width: 1.5
        }
      }
    };

    var data = [trace1,trace2];

    var layout = {
      title: 'January 2013 Sales Report',
      barmode: 'stack'
    };

    Plotly.newPlot('myDiv', data, layout, {showSendToCloud:true});

    {% endblock %}
  </script>
{% endblock %}