{% extends "account/dashboardlayout.html" %}
{% block content1 %}

{% block extrahead %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{{ form.media }}
{% endblock %}
<h1 class="h2">Analytics</h1>

</div>

<div class="col-11 mx-auto">
  <div class="row">
    <h5>How busy is your reception?</h5>
    <div class="jumbotron">
      <div class="row">
      </div>
      <div id="myDiv1" style="width:1050px;height:400px;">
      </div>
    </div>
  </div>
  <div class="row">
    <h5>How many visitors per month?</h5>
    <div class="jumbotron">
      <div class="row">
        <div id="myDiv2" style="width:1050px;height:400px;"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <h5>Do your colleagues pre-register visitors?</h5>
    <div class="jumbotron">
      <div class="row">
        <div id="myDiv3" style="width:1050px;height:400px;"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <h5>Who hosts the most visits?</h5>
    <div class="jumbotron">
      <div class="row">
        <div style="width:1050px;">
          <div class="col">
            <div class="row">
              <div class="col-3">
                {% for values in userdata %}
                <div class="row">
                  <div class="col">
                    <img src="/media/{{ values.profile_pic }}" class="img-thumbnail" alt="Profile Picture" width="50"
                      height="50">
                    {{values.full_name}}
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class=" col">
                {% for values in colleague_frame %}
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    style="width: {{values}}%" aria-valuenow="{{values}}" aria-valuemin="0" aria-valuemax="100">
                    {{values}}%
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
<script>
  {% block jquery %}
  var endpoint1 = '/ListUsers/'
  var defaultData1 = [];

  $.ajax({
    method: "GET",
    url: endpoint1,
    success: function (datalist) {
      console.log(datalist)
      defaultData1 = datalist
      graph1(defaultData1)
      graph2(defaultData1)
      graph3(defaultData1)
      // $("#progress").hide()
    },
    error: function (error_data) {
      console.log("error")
      console.log(error_data)
    }
  });

  function graph1() {
    var xValue = defaultData1.date_s;
    var yValue = defaultData1.count_s;
    var trace1 = {
      x: xValue,
      y: yValue,
      type: 'bar',
      text: yValue,
      textposition: 'auto',
      hoverinfo: 'none',
      opacity: 0.5,
      marker: {
        color: 'rgb(158,202,225)',
        line: {
          color: 'rbg(8,48,107)',
          width: 1.5
        }
      }
    };

    var data = [trace1];

    var layout = {
      title: 'January 2013 Sales Report',
      barmode: 'stack'
    };

    Plotly.newPlot('myDiv1', data, layout, { showSendToCloud: true });
  }

  function graph2() {
    var xValue = defaultData1.count_1_date;
    var xValue2 = defaultData1.count_2_date;
    var xValue3 = defaultData1.count_3_date;

    var yValue = defaultData1.count_1;
    var yValue2 = defaultData1.count_2;
    var yValue3 = defaultData1.count_3;

    var trace1 = {
      x: xValue,
      y: yValue,
      type: 'bar',
      text: yValue,
      textposition: 'auto',
      hoverinfo: 'none',
      opacity: 0.5,
      marker: {
        color: 'rgb(158,202,225)',
        line: {
          color: 'rbg(8,48,107)',
          width: 1.5
        }
      }
    };

    var trace2 = {
      x: xValue2,
      y: yValue2,
      type: 'bar',
      text: yValue2,
      textposition: 'auto',
      hoverinfo: 'none',
      marker: {
        color: 'rgba(58,1,225,.5)',
        line: {
          color: 'rbg(8,48,107)',
          width: 1.5
        }
      }
    };

    var trace3 = {
      x: xValue3,
      y: yValue3,
      type: 'bar',
      text: yValue3,
      textposition: 'auto',
      hoverinfo: 'none',
      marker: {
        color: 'rgba(1,200,225)',
        line: {
          color: 'rbg(8,48,107)',
          width: 1.5
        }
      }
    };

    var data = [trace1, trace2, trace3];

    var layout = {
      title: 'January 2013 Sales Report',
      barmode: 'stack'
    };

    Plotly.newPlot('myDiv2', data, layout, { showSendToCloud: true });
  }



  function graph3() {
    var xValue = defaultData1.date_rt;
    var yValue = defaultData1.count_rt;

    var xValue2 = defaultData1.date_rf;
    var yValue2 = defaultData1.count_rf;

    var trace1 = {
      x: xValue,
      y: yValue,
      type: 'bar',
      text: yValue,
      textposition: 'auto',
      hoverinfo: 'none',
      marker: {
        color: 'rgb(1,200,225)',
        line: {
          color: 'rbg(8,48,107)',
          width: 1.5
        }
      }
    };

    var trace2 = {
      x: xValue2,
      y: yValue2,
      type: 'bar',
      text: yValue2,
      textposition: 'auto',
      hoverinfo: 'none',
      opacity: 0.5,
      marker: {
        color: 'rgb(100,202,225)',
        line: {
          color: 'rbg(8,225,107)',
          width: 1.5
        }
      }
    };

    var data = [trace1, trace2];

    var layout = {
      title: 'January 2013 Sales Report',
      barmode: 'stack'
    };

    Plotly.newPlot('myDiv3', data, layout, { showSendToCloud: true });
  }
  {% endblock %}
</script>

{% endblock %}