{% extends "account/dashboardlayout.html" %}
{% load bootstrap4 %}

{% block content1 %}

<h1 class="h2">Locations Overview</h1>
{# Display a form #}

<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group mr-2">
    <a href="{% url 'addnewlocations' %}" class="btn btn-dark">Add New</a>
  </div>
</div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">LOCATION</th>
      <th scope="col">BUILDING NANE</th>
    </tr>
  </thead>
  {% for ip in map %}
  <tbody>
    <tr>
      <th scope="row">
        <input type="checkbox" name="select" id="select">
      </th>
      <td><a href="{{ip.id}}" style="color: inherit;">{{ip.loc}}</a></td>
      <td>{{ip.name}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>


<script>
  {% block jquery %}

  $(document).ready(function () {
    $("#date").blur(function () {
      $('#yourFormId').submit();
    });
  });

  {% endblock %}
</script>
{% endblock %}