{% extends "account/dashboardlayout.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/clickable.css' %}">
{{ form.media }}
{% endblock %}

{% block content1 %}
<form class="form-inline">
  <input class="form-control mr-sm-2" placeholder="Search" type="search" name="q" id="query" aria-label="Search">
  <a href="{% url 'logbook' slug=slug %}" class="btn btn-success mx-auto">Reset</a>
</form>
<form action="" method="POST" id="yourFormId" class="form">
  {% csrf_token %}
  {{ form }}
</form>
<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group mr-2">
    <a href="{% url 'search_visitor' slug=slug %}" class="btn btn-dark">Add Visitor</a>
    <a href="{% url 'addmultipleMeeting' slug=slug %}" class="btn btn-warning">Create Group Visit</a>
  </div>
</div>
</div>
<div class="card mx-auto">
  <div class="card-body">

    <div class=" row mx-auto">
      <br>
      <table class="table table-bordered table-hover table-responsive" id="filterTable">
        <thead>
          <tr>
            <th scope="col"><button id="delt" class="btn btn-danger" onclick="Delselected()">Delete</button></th>
            <th scope="col">STATUS</th>
            <th scope="col">CHECK IN</th>
            <th scope="col">CHECK OUT</th>
            <th scope="col">DATE</th>
            <th scope="col"></th>
            <th scope="col">VISITOR</th>
            <th scope="col">COMPANY</th>
            <th scope="col">HOST NAME</th>
            <th scope="col">HOST EMAIL</th>
            <th scope="col">HOST MOBILE</th>
            <th scope="col">EMAIL</th>
            <th scope="col">MOBILE</th>
            <th scope="col">LICENSEPLATE</th>
            <th scope="col">ABOUT</th>
            <th scope="col">COMMENT</th>
          </tr>
        </thead>
        <tbody>
          {% for ip in objects_all %}
          <tr>
            <th>
              <input type="checkbox" name="fid[]" class="checkbox" id="{{ip.id}}">
            </th>
            <td>
              <form style="width: 180px;" action="../statusupdate/{{ip.id}}/" class="form-inline" id="updateForm"
                method="POST">
                {% csrf_token %}
                <select name="{{ form1.status.name }}" class="form-control" id="{{ip.id}}">
                  <option value="{{ choice.0 }}">{{ ip.status }}</option>
                  {% for choice in form1.status.field.choices %}
                  <option value="{{ choice.0 }}">{{ choice.0 }}</option>
                  {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
            </td>
            <td>
              <div style="width: 100px;">{{ip.start_time}}</div>
            </td>
            <td>
              <div style="width: 100px;">{{ip.end_time}}</div>
            </td>
            <td>
              <div style="width: 100px;">{{ip.date}}</div>
            </td>
            <td class="clickable" data-toggle="modal" data-target="#{{ip.id}}">
              <img src="{% for data in ip.visitor.profile_pic.url %}{{ data }}{% endfor %}" alt="Profile Picture"
                width="35" height="35"></td>
            <td class="clickable" data-toggle="modal" data-target="#{{ip.id}}">
              {% for data in ip.visitor.full_name%}{{ data }}{% endfor%}
            </td>
            <td class="clickable" data-toggle="modal" data-target="#{{ip.id}}">
              {% for data in ip.visitor.company_name %}{{ data }}{% endfor %}</td>

            <td class="clickable" data-toggle="modal" data-target="#{{ip.id}}">
              <div style="width: 120px;">
                {% for data in ip.host.all %}{{ data.full_name }}<br>{%endfor %}
              </div>
            </td>
            <td class="clickable" data-toggle="modal" data-target="#{{ip.id}}">
              {% for data in ip.host.all %}{{ data.email }}<br>{%endfor %}</td>
            <td class="clickable" data-toggle="modal" data-target="#{{ip.id}}">
              {% for data in ip.host.all %}{{ data.mobile }}<br>{%endfor %}</td>

            <td class="clickable" data-toggle="modal" data-target="#{{ip.id}}">
              {% for data in ip.visitor.email %}{{ data }}{% endfor %}</td>
            <td class="clickable" data-toggle="modal" data-target="#{{ip.id}}">
              {% for data in ip.visitor.mobile %}{{ data }}{% endfor %}</td>
            <td class="clickable" data-toggle="modal" data-target="#{{ip.id}}">
              {% for data in ip.visitor.licenseplate %}{{ data }}{% endfor %}</td>
            <td class="clickable" data-toggle="modal" data-target="#{{ip.id}}">
              {% for data in ip.visitor.about %}{{ data }}{% endfor %}</td>
            <td class="clickable" data-toggle="modal" data-target="#{{ip.id}}">
              {% for data in ip.visitor.comment %}{{ data }}{% endfor %}</td>
            <div class="container demo">
              <!-- Modal -->
              <div class="modal right fade" id="{{ip.id}}" tabindex="-1" role="dialog" aria-labelledby="{{ip.id}}"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header row">
                      <div class="col-2">
                        <div class="row">
                          <div class="col">
                            <img src="{% for data in ip.visitor.profile_pic.url %}{{ data }}{% endfor %}"
                              alt="Profile Picture" width="75" height="75">
                          </div>
                        </div>
                      </div>
                      <h4 class="modal-title col" id="{{ip.id}}">
                        <div class="row">
                          <div class="col">
                            {% for data in ip.visitor.full_name%}{{ data }}{% endfor%}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                            <form style="width: 180px;" action="../statusupdate/{{ip.id}}/" class="form-inline"
                              id="updateForm" method="POST">
                              {% csrf_token %}
                              <select name="{{ form1.status.name }}" class="form-control form-control-sm"
                                id="{{ip.id}}">
                                <option value="{{ choice.0 }}">{{ ip.status }}</option>
                                {% for choice in form1.status.field.choices %}
                                <option value="{{ choice.0 }}">{{ choice.0 }}</option>
                                {% endfor %}
                              </select>
                              <button type="submit" class="btn btn-primary btn-sm">Save</button>
                          </div>
                          <div class="col">
                          </div>
                          </form>
                        </div>
                      </h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                        <div class="row list-group list-group-flush">
                          <div class="col">
                            <div class="row list-group-item">{% for data in ip.host.all %}{{ data }}{%endfor %}</div>
                            <div class="row list-group-item">{% for data in ip.visitor.email %}{{ data }}{% endfor %}
                            </div>
                            <div class="row list-group-item">{% for data in ip.visitor.mobile %}{{ data }}{% endfor %}
                            </div>
                            <div class="row list-group-item">
                              {% for data in ip.visitor.licenseplate %}{{ data }}{% endfor %}</div>
                            <div class="row list-group-item">{% for data in ip.visitor.about %}{{ data }}{% endfor %}
                            </div>
                            <div class="row list-group-item">{% for data in ip.visitor.comment %}{{ data }}{% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- modal-content -->
                </div><!-- modal-dialog -->
              </div><!-- modal -->
            </div><!-- container -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  {% block jquery %}

  $('#filterTable tr').click(function (event) {
    if (event.target.type !== 'checkbox') {
      $(':checkbox', this).trigger('click');
    }
  });

  function GetURLParameter(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) {
      var sParameterName = sURLVariables[i].split('=');
      if (sParameterName[0] == sParam) {
        return sParameterName[1];
      }
    }
  }
  var q = GetURLParameter('q');

  $("#date").blur(function () {
    $('#yourFormId').submit();
  });

  var value = 0;
  var id = [];

  $(".checkbox").click(function () {
    if (!$(this).is(':checked')) {
      console.log('uncheck');
      value = $(this).attr('id');
      id.splice($.inArray(value, id), 1);
      console.log(id);
      $(this).parent().parent().removeClass('checkedtd');
    }
    else {
      console.log('check');
      value = $(this).attr('id');
      id.push(value);
      console.log(id);
      $(this).parent().parent().addClass('checkedtd');
    }

  });

  function Delselected() {
    var slug = window.location.pathname;
    var metaslug = slug.split('/');
    console.log(metaslug[1]);
    $.ajax({
      method: 'GET',
      url: '../../' + metaslug[1] + '/delselected/',
      data: {
        'id[]': id
      },
      beforeSend: function (xhr) {
        xhr.setRequestHeader(
          "X-CSRFToken",
          "{{ csrf_token }}"
        );
      },
      success: function (response) {
        console.log("succ");
        $('.checkedtd').remove();
      },
      error: function (error_data) {
        console.log("error");
        console.log(error_data);
      }
    });
  };
  {% endblock %}
</script>
{% endblock %}