{% extends "account/dashboardlayout.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content1 %}

<h1 class="h2">Log Book</h1>
<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group mr-2">
    <a href="/addnewvisit" class="btn btn-dark">Add New</a>
  </div>
</div>
</div>

<form class="form-inline">
  <input class="form-control mr-sm-2" placeholder="Search" type="search" name="q" id="query" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<br>
<table class="table table-hover table-bordered table-responsive">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">STATUS</th>
      <th scope="col">CHECKIN</th>
      <th scope="col">CHECKOUT</th>
      <th scope="col">DATE</th>
      <th scope="col">VISITOR</th>
      <th scope="col">COMPANY</th>
      <th scope="col">HOST</th>
      <th scope="col">EMAIL</th>
      <th scope="col">MOBILE</th>
      <th scope="col">LICENSEPLATE</th>
      <th scope="col">ABOUT</th>
      <th scope="col">COMMENT</th>
    </tr>
  </thead>
{% for ip in objects_all %}
  <tbody>
    <tr>
      <th>
        <input type="checkbox" name="select" id="select">
      </th>
      <td>
        <form action="/statusupdate/{{ip.id}}/" class="form-inline" id="updateForm" method="POST">
          {% csrf_token %}
          <div class="form-group">
              <select name="{{ form1.status.name }}" class="form-control" id="{{ip.isd}}">
                  <option value="{{ choice.0 }}">{{ ip.status }}</option>
                  {% for choice in form1.status.field.choices %}
                      <option value="{{ choice.0 }}">{{ choice.0 }}</option>
                  {% endfor %}
              </select>
            </div>
                <button type="submit" class="btn btn-primary">Save</button>
          
          </form>
        </td>
        <td>{{ip.start_time}}</td>
        <td>{{ip.end_time}}</td>
        <td>{{ip.date}}</td>
        <td>{{ip.full_name}}</td>
        <td>{{ip.company_name}}</td>
        <td>{% for data in ip.visiting.all %}{{ data }}{% endfor %}</td>
      <td>{{ip.email}}</td>
      <td>{{ip.mobile}}</td>
      <td>{{ip.licenseplate}}</td>
      <td>{{ip.about}}</td>
      <td>{{ip.comment}}</td>
    </tr>
  </tbody>
{% endfor %}
</table>



{% endblock %}