{% extends "account/dashboardlayout.html" %}
{% block content1 %}

<h1 class="h2">View Profile</h1>
</div>
<div class="card mx-auto">
    <div class="card-body">
        <div class=" row mx-auto">
            <div class="col-1">
            </div>
            <div class="col-5">
                <div class="card">
                    <h5 class="card-header">Featured</h5>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
</div>
{% endblock %}