{% extends "account/profile/profilelayout.html" %}
{% load crispy_forms_tags %}
{% block profilemanage %}
<br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <ul {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
    <h1>hey</h1>
</div>
</div>
{% endblock %}