{% extends "account/profile/profilelayout.html" %}
{% load crispy_forms_tags %}
{% block profilemanage %}
<br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <ul {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
    {% for values in user %}
    <div class="col mx-auto">
        <div class="row mx-auto">
            <div class="col-3">
                <h5>hey {{values.full_name}}</h5>
                <img src="{{values.profile_pic.url}}" alt="Profile Picture" width="200" height="200">
            </div>
            <div class="col-4">
                <h5>
                    {{values.our_company}}
                    {{values.email}}
                </h5>
            </div>

        </div>
        <div class="row">
            <div class="col-3">
                <h5>

                </h5>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3">
                <h5>
                    {{values.about}}
                    {{values.licenseplate}}
                    {{values.comment}}
                </h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}