{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="container body-content">
    <div class="card mx-auto card-container w-50 p-5">
            <p id="profile-name" class="profile-name-card">
                    <h3>Change password</h3>
            </p>
            {% if validlink %}
                <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Change password</button>
                </form>
            {% else %}
                <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
                </p>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}