{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="container body-content">
    <div class="card mx-auto card-container w-50 p-5">
            <p>
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
            </p>
            <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>
        </div>
</div>
{% endblock %}