{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="container body-content">
    <div class="card mx-auto card-container w-50 p-5">
            <h1 class="card-title">Forgot password</h1>
            <form method="post">
                {% csrf_token %}
                    <div class="form-group">
                        {{form|crispy}}
                    </div>
                    <button class="btn btn-primary" type="submit">Sign in</button>
                    <input type="hidden" name="next" value="{{next}}">
            </form>
        </div>
    </form>
</div>
{% endblock %}