{% extends "app/layout.html" %}

{% block content %}
<main role="main">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome To Visitor Managment System</h1>
      <p class="lead">This application is Built for managing incoming flow of visitor and make check-in system totally
        autonomous and parallel, removing whole assigned manpower for the same purpose.
        This system is built with high scalability in mind and can handle the load of thousands of people's network in
        your company.
      </p>
      <hr class="my-4">
      <p>To learn more please click link below.</p>
      <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a>
    </div>
  </div>
</main>
{% endblock %}