{% extends "account/settings/settingslayout.html" %}
{% block settings %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Company</h5>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Date, time and number format</h5>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Logo</h5>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Company phone</h5>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Mailing address</h5>
    </div>
</div>
<br>
{% endblock %}